
<h1>
	Prepare Yourself For A Day Of Excellence And Compassion
</h1>

<figure class="inspiration">
	<div class="inspiration__asset">
		<iframe
			src="{{ video.source }}"
			frameborder="0"
			allow="autoplay; encrypted-media"
			allowfullscreen
			class="inspiration__iframe">
		</iframe>
	</div>

	<figcaption class="inspiration__caption">
		<div class="inspiration__title">
			{{ video.author.name }} &mdash; {{ video.title }}
		</div>

		<div class="inspiration__permalink">
			<a href="/primers/{{ video.id }}" title="Daily Prime: {{ video.title }}">Permalink</a>
		</div>
	</figcaption>
</figure>

<h2>
	Make <strong>The Daily Prime</strong> Your Home Page
</h2>

<p>
	We all want to be better people. But, being better isn't easy. Even when we know the
	path forward, taking the right steps and making the right choices can be difficult.
	Being better is, without a doubt, a skill. And like every other skill, it must be
	practiced. <strong>The Daily Prime</strong> is my attempt to create a structure that
	facilitates such practice.
</p>

<p>
	By making <strong>The Daily Prime</strong> my browser's homepage, my perspective on
	the world is continually being challenged. The target of my attention is continually
	being corrected. I am reminded that there are no ordinary moments &mdash; that every
	interaction I have is an opportunity to become the person that I want to be.
</p>

<p>
	Every video on this site is chosen to prime me for a day of excellence, compassion,
	and leadership. Perhaps it can do the same for you.
</p>

{{> main/views/includes/about }}

<p>
	Want more inspiration? <a href="/primers">View the list of daily primers</a> &raquo;
</p>
